<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hosts that attempted to acces {{ endpoint }}</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container d-flex justify-content-center mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Host</th>
            <th scope="col">Threat Level</th>
            <th scope="col">Count</th>
            <th scope="col">Host Details</th>
            <th scope="col">Requests</th>
            <th scope="col">Other Requests</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ host.0.address }}</td>
            <td>{{ host.0.threat_level }}</td>
            <td>{{ host.1 }}</td>
            <td>
                <a href="/flask_recon/host?host={{ host.0.0 }}">
                    <button type="button" class="btn btn-primary">
                        Host Details
                    </button>
                </a>
            <td>
                <a href="/flask-recon/requests-by-host?host={{ host.0.address }}&endpoint={{ endpoint }}">
                    <button type="button" class="btn btn-primary">
                        Requests from {{ host.0.address }} to {{ endpoint }}
                    </button>
                </a>
            </td>
            <td>
                <a href="/flask-recon/requests-by-host?host={{ host.0.address }}">
                    <button type="button" class="btn btn-primary">
                        Requests from {{ host.0.address }}
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}
</body>
</html>