<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Hosts</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container d-flex justify-content-center mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Host</th>
            <th scope="col">Acceptable Requests</th>
            <th scope="col">Unacceptable Requests</th>
            <th scope="col">Total Requests</th>
            <th scope="col">Threat Level</th>
            <th scope="col">View Requests</th>
            <th scope="col">Dump Requests</th>
            <th scope="col">View IP Details</th>
            <th scope="col">Arin Lookup</th>
            <th scope="col">Spamhaus Check</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ host.0 }}</td>
            <td>{{ host.1 }}</td>
            <td>{{ host.2 }}</td>
            <td>{{ host.3 }}</td>
            <td>{{ host.4 }}</td>
            <td>
                <a href="/flask-recon/requests-by-host?host={{ host.0 }}">
                    <button type="button" class="btn btn-primary" data-toggle="modal">View Requests</button>
                </a>
            </td>
            <td>
                <a href="/flask-recon/csv-actor-dump?host={{ host.0 }}">
                    <button type="button" class="btn btn-primary">Dump Requests</button>
                </a>
            <td>
                <a href="https://whatismyipaddress.com/ip/{{ host.0 }}" target="_blank">
                    <button type="button" class="btn btn-primary">IP Details</button>
                </a>
            </td>
            <td>
                <a href="https://mxtoolbox.com/SuperTool.aspx?action=arin%3a{{ host.0 }}&run=toolpage">
                    <button type="button" class="btn btn-primary">Arin Lookup</button>
                </a>
            </td>
            <td>
                <a href="https://check.spamhaus.org/listed/?searchterm={{ host.0 }}">
                    <button type="button" class="btn btn-primary">Spamhaus Check</button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}
</body>
</html>