<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'flask-recon/head.html' %}
    <title>About Me</title>
</head>
<body>
    {% include 'flask-recon/navbar.html' %}

    <div class="container-fluid">
        <div class="row">
            <nav id="navbar-example3" class="col-md-3 col-lg-2 d-md-block bg-light sidebar active">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gcses">GCSEs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#a-levels">A Levels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#experience">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#doac-freelance">Freelance Position at The Diary of a CEO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#vysion-internship">Software Engineering Internship at Vysion Software</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                    <h4 id="education">Education</h4>
                    <h5 id="gcses">GCSEs</h5>
                    <p>During the GCSE period of my education I studied and obtained:</p>
                    <ul>
                        <li>Computer Science : 9</li>
                        <li>Mathematics : 8</li>
                        <li>Chemistry : 9</li>
                        <li>Physics : 9</li>
                        <li>Biology : 9</li>
                        <li>English Language : 9</li>
                        <li>English Literature : 8</li>
                        <li>Geography : 9</li>
                        <li>History</li>
                        <li>Religious Studies : 9</li>
                        <li>Spanish : 8</li>
                        <li>Average : 8.7</li>
                    </ul>
                    <h5 id="a-levels">A Levels</h5>
                    <p>For A Levels (2022-2024) I studied:</p>
                    <ul>
                        <li>Computer Science</li>
                        <li>Mathematics</li>
                        <li>Chemistry</li>
                    </ul>
                    <p>With results pending.</p>
                    <h4 id="experience">Experience</h4>
                    <h5 id="doac-freelance">Freelance Position at The Diary of a CEO</h5>
                    <p>During my 8 months completing occasional freelance projects for the team of Steven Bartlett, largely focussed on data analytics but with occasional web development ventures.</p>
                    <p>I worked on automating and streamlining workflows, as well as integrating generative AI functionality into new programs and scripts.</p>
                    <h5 id="vysion-internship">Software Engineering Internship at Vysion Software</h5>
                    <p>...</p>
                </div>
            </main>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>
