<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>About Me</title>
</head>
<body>
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <nav id="navbar-example3" class="col-md-3 col-lg-2 d-md-block bg-light sidebar active">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#education">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#gcses">GCSEs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#a-levels">A Levels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#programming-languages">Programming Languages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tools-software-and-platforms">Tools, Software and Platforms</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#libraries-frameworks-methodologies-and-skills">Libraries, Frameworks, Methodologies and Skills</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#positions">Positions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#doac-freelance">Freelance Position at The Diary of a CEO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#vysion-internship">Software Engineering Internship at Vysion
                            Software</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                <h4 id="education">Education</h4>
                <h5 id="gcses">GCSEs</h5>
                <p>During the GCSE period of my education I studied and obtained:</p>
                <ul>
                    <li>Computer Science : 9 (A*)</li>
                    <li>Mathematics : 8 (A)</li>
                    <li>Chemistry : 9 (A*)</li>
                    <li>Physics : 9 (A*)</li>
                    <li>Biology : 9 (A*)</li>
                    <li>English Language : 9 (A*)</li>
                    <li>English Literature : 8 (A)</li>
                    <li>Geography : 9 (A*)</li>
                    <li>Religious Studies : 9 (A*)</li>
                    <li>Spanish : 8 (A)</li>
                    <li>Average : 8.7 (A*)</li>
                </ul>
                <h5 id="a-levels">A Levels</h5>
                <p>For A Levels (2022-2024) I studied:</p>
                <ul>
                    <li>Computer Science</li>
                    <li>Mathematics</li>
                    <li>Chemistry</li>
                </ul>
                <p>With results pending.</p>
                <h4 id="experience">Experience</h4>
                <h5 id="programming-languages">Programming Languages</h5>
                <h6>Programming Languages</h6>
                <ul>
                    <li>Python - Very proficient</li>
                    <li>Rust - Some experience</li>
                    <li>HTML - Some experience with Bootstrap</li>
                    <li>CSS - Some experience</li>
                    <li>JavaScript - Some experience</li>
                </ul>
                <h5 id="tools-software-and-platforms">Tools, Software and Platforms</h5>
                <ul>
                    <li>
                        <p>~4 years of experience using IntelliJ products</p>
                        <ul>
                            <li>PyCharm</li>
                            <li>IDEA</li>
                            <li>RustRover</li>
                        </ul>
                    </li>
                    <li>
                        Linux
                        <ul>
                            <li>Rented and used various remote servers for programming projects and hosting</li>
                            <li>Familiar with most commands required for server maintenance and management</li>
                        </ul>
                    </li>
                </ul>
                <h5 id="libraries-frameworks-methodologies-and-skills">Libraries, Frameworks, Methodologies and Skills</h5>
                <ul>
                    <li>
                        <p>Asynchronous Programming</p>
                        <ul>
                            <li>Web Scrapers and Crawlers</li>
                            <li>Asynchronous Website Backends</li>
                            <li>Social Media Bots</li>
                        </ul>
                    </li>
                    <li>
                        <p>HTTP Requests</p>
                        <ul>
                            <li>
                                <p>API integrations</p>
                                <ul>
                                    <li>OpenAI, Coinbase Commerce, WHOIS/IP Info APIs, Cryptocurrency Price APIs, et cetera</li>
                                </ul>
                            </li>
                            <li>Data mining/scraping</li>
                            <li>Task and social media automation</li>
                        </ul>
                    </li>
                    <li>
                        <p>Web Development - Flask framework</p>
                        <ul>
                            <li>Asynchronous and Synchronous</li>
                            <li>HTML based web-apps</li>
                            <li>No-HTML REST APIs</li>
                        </ul>
                    </li>
                    <li>
                        <p>Database Integrations</p>
                        <ul>
                            <li>PostgreSQL</li>
                            <li>SQLite</li>
                            <li>MySQL</li>
                        </ul>
                    </li>
                    <li>Database Design</li>
                    <li>
                        <p>Networking</p>
                        <ul>
                            <li>Familiar with socket-based programming</li>
                            <li>Remote server configurations e.g. port-forwarding, firewall config, etc</li>
                        </ul>
                    </li>
                    <li>Concurrent Programming</li>
                </ul>
                <h4 id="positions">Positions</h4>
                <h5 id="doac-freelance">Freelance Position at The Diary of a CEO Video Podcast</h5>
                <p>The Diary of a CEO is a popular video podcast from Steven Bartlett ... </p>
                <p>During my 8 months completing occasional freelance projects for the team of Steven Bartlett, largely
                    focussed on data analytics but with occasional web development ventures.</p>
                <p>I worked on automating and streamlining workflows, as well as integrating generative AI functionality
                    into new programs and scripts. Some examples of the types of project I worked on are:</p>
                <ul>
                    <li><h6>Financial Data Aggregator</h6></li>
                    <li><h6>YouTube Trending Data Scraper</h6></li>
                    <li><h6>YouTube Analytics Collection and Processing with Gen. AI</h6></li>
                    <li><h6>Various WebApps for Enhancing Workflows</h6></li>
                </ul>
                <h5 id="vysion-internship">Software Engineering Internship at Vysion Software</h5>
                <p>During my time at Vysion Software, I have been annotating images for a custom AI model which will be
                    integrated into their app which aids navigation and daily life for the visually impaired.</p>
                <p>You can learn more about Vysion on their <a href="https://www.vysion.software/">website.</a></p>
            </div>
        </main>
    </div>
</div>

{% include 'footer.html' %}
</body>
</html>
