<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>Also See</title>
</head>
<body>
{% include 'navbar.html' %}

<div class="container align-center">
    <h1 class="align-center">Also See</h1>
    <div class="card align-center" style="width: 18rem;">
        <img src="https://chanchan.dev/static/images/tiled-background.png" class="card-img-top" alt="cc-background">
        <div class="card-body">
            <h5 class="card-title">Chander's Website</h5>
            <p class="card-text">The personal website of my friend Chander, a prolific programmer and developer from Washington State, USA.</p>
            <a href="https://chanchan.dev/" class="btn btn-primary">Visit his Website</a>
        </div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>