<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta name="description" content="Homepage">
    <meta name="keywords" content="Flask, developer, python">
    {% include 'head.html' %}
</head>
<body>
{% include 'navbar.html' %}

<section class="container">
    <h1>Hi</h1>
    <p>My name is Otto Podhorodecki, a software developer living in London, England.</p>
    <p>I have a passion for new technologies and methods, and always embrace a challanging project as an opportuinty to learn.</p>
    <p>My main interests are in web and desktop development, programming for data analytics, task automation, and cybersecurity.</p>
    <p>Feel free to check out my <a href="/about">about</a> page to learn more about me.</p>
    <br>
    <p>This website was made by me using Python's Flask framework and bootstrap, the source code can be found on <a
            href="https://github.com/ottodanp/personal-website">GitHub.</a></p>
</section>

{% include 'footer.html' %}
</body>
</html>
